node_modules/
dist/
.env
*.db
*.db-journal
prisma/*.db
prisma/*.db-journal

# Bun
bun.lockb

# Vite
packages/client/dist/

# Prisma
prisma/migrations/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
